<a href="https://colab.research.google.com/github/fgith/data-science/blob/main/neural-network/neural_network_RealEstate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from sklearn.neural_network import MLPClassifier, MLPRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [3]:
! wget https://raw.githubusercontent.com/fgith/data-science/main/datasets/RealEstate.csv

--2022-03-27 07:45:32--  https://raw.githubusercontent.com/fgith/data-science/main/datasets/RealEstate.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 21968 (21K) [text/plain]
Saving to: ‘RealEstate.csv’

RealEstate.csv      100%[===================>]  21.45K  --.-KB/s    in 0.002s

2022-03-27 07:45:32 (11.1 MB/s) - ‘RealEstate.csv’ saved [21968/21968]

**Load Dataset**

In [6]:
RealEstate = pd.read_csv("RealEstate.csv")
RealEstate.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

**Assign X and Y**

In [14]:
# Y = RealEstate["Y house price of unit area"]
# X = RealEstate.drop("Y house price of unit area",axis=1)
# X = RealEstate.drop("No",axis=1)
X = RealEstate.iloc[:,2:-1]
Y = RealEstate.iloc[:,-1:]

**Split Data into train and test data**

In [15]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.8)

In [16]:
MLPRegressor?

**Initiate Multi Layer Neural Network**

In [19]:
NN = MLPRegressor(max_iter= 300, activation="relu", hidden_layer_sizes=(100,100))

**Fit and Train Neural Network**

In [20]:
NN.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1599: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPRegressor(hidden_layer_sizes=(100, 100), max_iter=300)

**Predict using trained Neural Network**

In [27]:
Y_pred = NN.predict(X_test)

In [30]:
print("Mean Squared Error: %.2f", mean_squared_error(Y_test,Y_pred))

Mean Squared Error: %.2f 51.242025391980775