<a href="https://colab.research.google.com/github/fgith/data-science/blob/main/logistic-regression/logistic_regression_customerpersonality.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget "https://raw.githubusercontent.com/fgith/data-science/main/datasets/marketing_campaign.csv"

--2022-04-17 14:03:58--  https://raw.githubusercontent.com/fgith/data-science/main/datasets/marketing_campaign.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 217947 (213K) [text/plain]
Saving to: ‘marketing_campaign.csv.1’

marketing_campaign. 100%[===================>] 212.84K  --.-KB/s    in 0.004s

2022-04-17 14:03:58 (49.9 MB/s) - ‘marketing_campaign.csv.1’ saved [217947/217947]

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

**Load CSV Dataset**

In [3]:
dataset = pd.read_csv("marketing_campaign.csv",delimiter='\t')

In [4]:
df = pd.DataFrame(dataset)
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [7]:
# df.isnull().sum()
# df.info()
df.columns
# df.index
# df.values
# df.shape
# df.head()

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response',
       'Age', 'Kids'],
      dtype='object')

In [5]:
# Function to convert Year_Birth column to Age
from datetime import date
def age(birthyear):
  today = date.today()
  age = today.year - birthyear
  return age

In [9]:
# Add new column 'Age' to dataset
df['Age'] = age(df['Year_Birth'])

# Add new column Kids = Kidhome + Teenhome
df['Kids'] = df['Kidhome'] + df['Teenhome']

# Add new column AmountSpent = Add ('MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds')
df['AmountSpent'] = df['MntWines'] + df['MntFruits'] + df['MntMeatProducts'] + df['MntFishProducts'] + df['MntSweetProducts'] + df['MntGoldProds']

# Add new column NoOfPurchases = Add ('NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases')
df['NoOfPurchases'] = df['NumWebPurchases'] + df['NumCatalogPurchases'] + df['NumStorePurchases']

df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,Age,Kids,AmountSpent,NoOfPurchases
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,0,0,0,3,11,1,65,0,1617,22
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,0,0,0,3,11,0,68,2,27,4
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,0,0,0,3,11,0,57,0,776,20
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,0,0,0,3,11,0,38,1,53,6
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,0,0,0,3,11,0,41,1,422,14

In [10]:
# Drop unwanted columns
df.drop(['Year_Birth','ID','Z_CostContact','Z_Revenue','Kidhome','Teenhome','MntWines', 
         'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds',
         'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases'],
        axis=1,inplace=True)
df.head()

,Education,Marital_Status,Income,Dt_Customer,Recency,NumDealsPurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response,Age,Kids,AmountSpent,NoOfPurchases
0,Graduation,Single,58138.0,04-09-2012,58,3,7,0,0,0,0,0,0,1,65,0,1617,22
1,Graduation,Single,46344.0,08-03-2014,38,2,5,0,0,0,0,0,0,0,68,2,27,4
2,Graduation,Together,71613.0,21-08-2013,26,1,4,0,0,0,0,0,0,0,57,0,776,20
3,Graduation,Together,26646.0,10-02-2014,26,2,6,0,0,0,0,0,0,0,38,1,53,6
4,PhD,Married,58293.0,19-01-2014,94,5,5,0,0,0,0,0,0,0,41,1,422,14

**Assign X and y Data**

In [143]:
X = df
y = X['Response']
X.shape,y.shape

((2240, 26), (2240,))

In [144]:
X['Marital_Status'].replace({"Single":1, "Together":2, "Married":3, "Divorced":4, "Widow":5, "Alone":6, "Absurd":7, "YOLO":8},inplace=True)
X['Education'].replace({"Graduation":1, "PhD":2, "Master":3,"Basic":4,"2n Cycle":5},inplace=True)
# X['Income'].fillna(0)

In [145]:
X.replace([np.inf, -np.inf], np.nan, inplace=True)
X.fillna(0, inplace=True)

In [146]:
from sklearn.preprocessing import StandardScaler

StandardScaler = StandardScaler()
X_scaled = pd.DataFrame(StandardScaler.fit_transform(X))
# X_scaled.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,-0.781341,-1.394226,0.251939,-0.825218,-0.929894,0.307039,0.983781,1.551577,1.679702,2.462147,...,0.693904,-0.28014,-0.28383,-0.28014,-0.262111,-0.11651,-0.097282,0.0,0.0,2.388846
1,-0.781341,-1.394226,-0.208699,1.032559,0.906934,-0.383664,-0.870479,-0.636301,-0.713225,-0.650449,...,-0.130463,-0.28014,-0.28383,-0.28014,-0.262111,-0.11651,-0.097282,0.0,0.0,-0.418612
2,-0.781341,-0.462802,0.778231,-0.825218,-0.929894,-0.798086,0.362723,0.570804,-0.177032,1.345274,...,-0.542647,-0.28014,-0.28383,-0.28014,-0.262111,-0.11651,-0.097282,0.0,0.0,-0.418612
3,-0.781341,-0.462802,-0.978043,1.032559,-0.929894,-0.798086,-0.870479,-0.560857,-0.651187,-0.503974,...,0.281720,-0.28014,-0.28383,-0.28014,-0.262111,-0.11651,-0.097282,0.0,0.0,-0.418612
4,0.014206,0.468623,0.257992,1.032559,-0.929894,1.550305,-0.389085,0.419916,-0.216914,0.155164,...,-0.130463,-0.28014,-0.28383,-0.28014,-0.262111,-0.11651,-0.097282,0.0,0.0,-0.418612

In [151]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled,y,train_size=0.7)

In [152]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression()
clf.fit(X_train,y_train)

LogisticRegression()

In [153]:
y_pred = clf.predict(X_test)

In [156]:
from sklearn.metrics import mean_squared_error,r2_score,accuracy_score
accuracy = accuracy_score(y_test,y_pred)
print("Accuracy: %.2f" % accuracy_score(y_test,y_pred))
print("Mean Squared Error: %.2f" % mean_squared_error(y_test,y_pred))
print("Coefficient of Determination: %.2f" % r2_score(y_test,y_pred))

Accuracy: 1.00
Mean Squared Error: 0.00
Coefficient of Determination: 1.00
1.0