<a href="https://colab.research.google.com/github/fgith/data-science/blob/main/temp/new.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np
import seaborn as sns
pd.options.display.max_columns = None

In [2]:
item_categories = pd.read_csv("item_categories.csv")
items = pd.read_csv("items.csv")
shops = pd.read_csv("shops.csv")
test = pd.read_csv("test.csv")
sales_train = pd.read_csv("sales_train.csv")

In [ ]:
# item_categories.head()
# items.nunique()
# shops.nunique()
# test.nunique()
# display(sales_train.shape)
# display(sales_train.info())

In [3]:
# Convert 'date' into datetime format
sales_train['f_date'] = pd.to_datetime(sales_train['date'],format='%d.%m.%Y')

sales_train.drop(['date','item_price'],axis=1,inplace=True)

In [ ]:
# Drop rows where 'item_cnt_day' = -1
# filt = sales_train['item_cnt_day'] != -1
# sales_train_updated = sales_train.loc[filt]

In [16]:
sales_train.shape

(2935849, 5)

In [16]:
# sales_train.date_block_num.unique()

# filt = sales_train['date_block_num']==1
# display(sales_train[filt])


# sales_train.set_index('f_date',inplace=True)
sales_train['2013-02-14'].where()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.

TypeError: ignored

In [ ]:
sales_train.groupby(by=['date_block_num','shop_id','item_id','f_date']).agg({'item_cnt_day':'sum'})
fil = (sales_train['date_block_num'] == 1) & (sales_train['item_cnt_day'] > 1)
sales_train[fil]

        date_block_num  shop_id  item_id  item_cnt_day     f_date
115715               1       50     3834           2.0 2013-02-22
115737               1       50     4164           3.0 2013-02-16
115749               1       50     4244           2.0 2013-12-02
115753               1       50     4251           2.0 2013-12-02
115754               1       50     4251           2.0 2013-02-16
...                ...      ...      ...           ...        ...
224282               1       28    13417           2.0 2013-09-02
224284               1       28    13417           2.0 2013-02-02
224297               1       28    13511           2.0 2013-02-22
224298               1       28    13511           2.0 2013-02-23
224302               1       28    12745           3.0 2013-02-23

[11003 rows x 5 columns]