<a href="https://colab.research.google.com/github/fgith/data-science/blob/main/PCA/PCA_iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import datasets

**Load Dataset**

In [3]:
iris = datasets.load_iris()

**Assign X and Y variables**

In [4]:
X = iris.data
Y = iris.target

**Principal Components Analysis**

In [5]:
from sklearn.preprocessing import scale
from sklearn import decomposition

In [7]:
X = scale(X)

In [8]:
pca = decomposition.PCA(n_components=3)
pca.fit(X)
scores = pca.transform(X)

In [9]:
scores_df = pd.DataFrame(scores,columns=['PC1','PC2','PC3'])
scores_df

          PC1       PC2       PC3
0   -2.264703  0.480027 -0.127706
1   -2.080961 -0.674134 -0.234609
2   -2.364229 -0.341908  0.044201
3   -2.299384 -0.597395  0.091290
4   -2.389842  0.646835  0.015738
..        ...       ...       ...
145  1.870503  0.386966  0.256274
146  1.564580 -0.896687 -0.026371
147  1.521170  0.269069  0.180178
148  1.372788  1.011254  0.933395
149  0.960656 -0.024332  0.528249

[150 rows x 3 columns]

In [12]:
Y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [16]:
Y_label = []
for i in Y:
  if i == 0:
        Y_label.append('Setosa')
  elif i == 1:
     Y_label.append('Versicolor')
  else:
     Y_label.append('Virginica')
Species = pd.DataFrame(Y_label, columns={'Species'})

In [20]:
df_scores = pd.concat([scores_df,Species],axis=1)
df_scores

          PC1       PC2       PC3    Species
0   -2.264703  0.480027 -0.127706     Setosa
1   -2.080961 -0.674134 -0.234609     Setosa
2   -2.364229 -0.341908  0.044201     Setosa
3   -2.299384 -0.597395  0.091290     Setosa
4   -2.389842  0.646835  0.015738     Setosa
..        ...       ...       ...        ...
145  1.870503  0.386966  0.256274  Virginica
146  1.564580 -0.896687 -0.026371  Virginica
147  1.521170  0.269069  0.180178  Virginica
148  1.372788  1.011254  0.933395  Virginica
149  0.960656 -0.024332  0.528249  Virginica

[150 rows x 4 columns]